﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<diV class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a sample Application that
            demostrates how to use Entity Framework Core in an
            ASP.NET Core Razor Pages web app.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the Application by following the steps in a series of tutorials.</p>
        <p>
            <a class="btn btn-default"
                href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro">
                See the tutorials &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p>
            <a class="btn btn-default"
                href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-rp/intro/sample/cu-final">
                    See project source code &raquo;
                </a>
        </p>
    </div>
</diV>