@page
@model ContosoUniversity.Pages.Courses.IndexSelectModel

@{
    ViewData["Title"] = "Courses";
}
<h2>Courses</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseVM[0].CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseVM[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseVM[0].Credits)
            </th>
            <th>
                Department
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.CourseVM)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CourseID">Edit</a> | 
                    <a asp-page="./Details" asp-route-id="@item.CourseID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CourseID">Delete</a> 
                </td>
            </tr>
        }
    </tbody>

</table>